* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #FBF3E4;
}
.corpo{
    background-color: #FBF3E4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/fundo\ melhorado.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.tituloum{
    padding-left: 8%;
    padding-right: 30%;
    font-size: 70px;
}

.bottom-bar{
    color: white;
    background-color: #3D0024;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-top: 20px;
}
.logu{
    padding-left: 8%;
}
.navigation{
    padding-right: 10%;
}
.navigation a{
    position:relative;
    font-size: 30PX;
    color: #3D0024;
    font-weight: 700;
    margin-left: 80px;

}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.butao{
    font-size: 50px;
    font-weight: 900;
    color: white;
    background-color: #3D0024;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 25px 60px;
    margin: 0 10px;
    border-radius: 80px;
}
.butao:hover{
    background-color: #72164c;
}
.linhafoda{
    font-weight: 600;
    position: absolute; 
    bottom: 20px;
    padding-left: 10%;
}

