/*Define caracteristicas do site como um todo*/
* {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    overflow-x: hidden;
}
body{
    background-color: #FBF3E4;
}
.logo{
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 6%;
    width: 18%;
}
.logocelular{
    display: none;
}
/*-------------------------------------------*/
/*Start All index conteiners*/
.corpoindex{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*define imagem tela principal*/
    background: url('images/Fundoamigos.png') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    justify-content: center;
    padding-right: 5%;
}
.navigation a{
    position:relative;
    font-size: 30px;
    color: #FBF3E4;
    font-weight: 700;
    margin-left: 50px;

}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.butao{
    font-size: 50px;
    font-weight: 900;
    color: white;
    background-color: #b91746;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 30px 70px;
    margin: 0 10px;
    border-radius: 80px;
    margin-top: 20px;
}
.butao:hover{
    background-color: #72164c;
}
.linhafoda{
    color: #FBF3E4;
    font-weight: 600;
    position: absolute; 
    bottom: 20px;
    padding-left: 10%;
}
.conteinerdois{
    display: flex;
    justify-content: space-between;
}
.texto2{
    color: #FBF3E4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texto1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texto1 p{
    font-size: 0.6cm;
    padding-left: 35%;
    padding-right: 5%;
}

.imagemfesta{
    display: flex;
    align-items:center;
    justify-content: left;
}
.conteinertres{
    background-color: #3D0024;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.tituloum{
    color: #FBF3E4;
    padding-top: 4%;    
    padding-left: 6%;
    padding-right: 30%;
    font-size: 4.8vw;
}
/*-------------------------------------------*/
/*-------------------------------------------*/
/*Start All registrar conteiners*/
.corpo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*-------------------------------------------*/
/*-------------------------------------------*/
/*Start All fornecedor conteiners*/
.navigationfornecedor{
    margin-top: 50px;
    padding-right: 10%;
}
.navigationfornecedor a{
    position:relative;
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin-left: 80px;

}
.navigationfornecedor a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigationfornecedor a:hover::after{
    transform: scaleX(1);
}
/*-------------------------------------------*/
/*-------------------------------------------*/
/*configs tamanhos de tela difentes*/
.bottom-bar{
    color: white;
    background-color: #3D0024;
}
.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checkbtn{
    font-size: 30px;
    color: #3D0024;
    float: right;
    margin-left: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1140px){
    .logocelular{
        margin-top: 10px;
        display: flex;
        height:100px;
        width: 100%;
        object-fit: contain;
    }
    .logo{
        display: none;
    }
    .tituloum{
        display: flex;
        color: #FBF3E4;
        font-size: 5vw;
        flex-direction: column; 
        align-items: center;
        padding-left: 30vw;
    }
    .tituloum h1{
        text-align: center;
        width: 70vw;
    }

    .checkbtn{
        font-size: 0.9cm;
        display: block;
        margin-top: 32px;
        margin-right: 5%;
    }
    .navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        margin-top: 0;
        padding: 0 0;
        padding-top: 0;
    }
    .navigation a{
        width: 100%;
        display: block;
        margin-top: 130px;
        margin-bottom: 0px;
        font-size: 40px;
        text-decoration: none;
        margin-left: 0;
    }
    .navigation a:hover{
        text-decoration: underline;
        transition: transform .5s;
    }
    header{
        align-items: normal;
        padding: 0 0;
        padding-top: 0;
        height: 100%; 
    }
    .menu{
        position: fixed;
        height: 100vh;
        text-align: center;
        margin-top: 80px;
        padding: 0 0;
        padding-top: 0;
        width: 100%;
        background: crimson;
        left: -100%;
        transition: left .5s;

    }
    #check:checked ~ *{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #check:checked ~ .navigation .menu{
        left:0;
    }
     #check:checked ~ .navigation{
        background: crimson;
        
    }
    #check:not(:checked) ~ .navigation .menu{
        margin-top: 0;
        padding-top: 80px;
    }
    
}
